<p>Image viewer home</p>

<div class="image-viewer-options">

  <div class="form-input">
    <label for="perspective">Zoom scale:</label>
    <select name="perspective" id="perspective" [(ngModel)]="perspective">
      <option value="SMALL">Small</option>
      <option value="MEDIUM">Medium</option>
      <option value="LARGE">Large</option>
    </select>
  </div>
  <div class="form-input">
    <label for="thumbnail">Thumbnail:</label>
    <select name="perspective" id="thumbnail" [(ngModel)]="thumbnail">
      <option [value]="THUMBNAIL_LEFT">LEFT</option>
      <option [value]="THUMBNAIL_RIGHT">RIGHT</option>
    </select>
  </div>


</div>

<angular-image-viewer
  [images]="images"
  [perspective]="perspective"
  [thumbnail]="thumbnail"
></angular-image-viewer>

