<div
  *ngIf="image"
  class="expanded-image-container"
>
  <div class="expanded-image-header">
    <a class="modal-icon" (click)="closeModal()">
      <img src="assets/icons/close_icon.svg" alt="close"/>
    </a>
  </div>
  <div class="expanded-image-body">
    <div class="expanded-image-body-left">
      <a *ngIf="showNavButtons()" class="modal-icon" (click)="leftImage()">
        <img src="assets/icons/left_icon.svg" alt="left image"/>
      </a>
    </div>
    <div
      *ngIf="image"
      class="expanded-image"
      [style.max-width.px]="imageWidth"
      [style.max-height.px]="imageHeight"
    >
      <div #expandedImageDisplay class="expanded-image-display"
           [style.max-width.px]="imageWidth"
           [style.max-height.px]="imageHeight"
           [style.scale.%]="scale"
           [style.top.px]="clientX"
           [style.left.px]="clientY"
           [style.position]="onDragMode ? 'absolute': 'initial'"

      >
        <img
          [src]="image.base64Image"
          [alt]="image.title"
          (mouseup)="mouseup($event)"
          (mousedown)="mousedown($event)"
          (mousemove)="mousemove($event)"
        >
      </div>
    </div>
    <div class="expanded-image-body-right">
      <a *ngIf="showNavButtons()" class="modal-icon" (click)="rightImage()">
        <img src="assets/icons/right_icon.svg" alt="right image"/>
      </a>
    </div>
  </div>
  <div class="expanded-image-footer">
    <span>{{ image.title }}</span>
    <zoom-controls
      (zoomChange)="scaleChange($event)"
    ></zoom-controls>
  </div>
</div>
