
<div class="image-viewer">
  <div *ngIf="showThumbnail" class="image-selector">
    <card-thumbnail
      *ngFor="let img of images" [image]="img"
      [selected]="selectedImage === img"
      (selectImage)="selectImage($event)"
    ></card-thumbnail>
  </div>

  <div #mainImage class="main-image"
       [style.width.px]="imageWidth"
       [style.height.px]="imageHeight"
       (click)="clickMainImage()"
       (mousemove)="mousemove($event)"
       (mouseleave)="mouseleave($event)"
  >
    <img
      *ngIf="selectedImage"
      [src]="selectedImage.base64Image"
      [alt]="selectedImage.title"
    >
    <div
      class="image-crop"
      [style.display]="showCrop ? 'flex' : 'none'"
      [style.width.px]="cropSize"
      [style.height.px]="cropSize"
      [style.left.px]="cropPosX"
      [style.top.px]="cropPosY"
    ></div>
  </div>
  <div
    class="window-image-zoom"
    [style.display]="showWindowZoom ? 'flex' : 'none'"
    [style.width.px]="windowZoomSize"
    [style.height.px]="windowZoomSize"
    [style.left.px]="windowZoomPosX"
    [style.top.px]="windowZoomPosY"
  >
    <div
      class="window-image-zoom-display"
      [style.width.px]="zoomImageWidth"
      [style.height.px]="zoomImageHeight"
      [style.top.px]="zoomImagePosY"
      [style.left.px]="zoomImagePosX"
    >
      <img
        *ngIf="selectedImage"
        [src]="selectedImage.base64Image"
        [alt]="selectedImage.title"
      >
    </div>
  </div>
</div>

